.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.flex div {
  margin: 0 10%;
  text-align: left;
}

h1 {
  text-align: center;
  text-shadow: #f30909 1px 1px 10px;
}

p {
  color:whitesmoke;
  text-shadow: #f30909 1px 1px 10px;
}

.detailimg {
  max-width: 50%;
  max-height: auto;
}