.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.flex div {
  margin: 0 10%;
  text-align: left;
}

h1, h2, h3, h4 {
  text-align: center;
  color: white;
  text-shadow: #f30909 1px 1px 10px;
}

h5 {
  color: white;
  text-shadow: #f30909 1px 1px 10px;
}

p {
  color:whitesmoke;
  text-shadow: #f30909 1px 1px 10px;
}

.detailimg {
  display: block;
  min-width:50%;
  max-width:auto;
  max-height:500px;
  width: auto;
  height: auto;
}

.detailbtn {
  display: flex;
  justify-content: center;
}

.comments {
  margin-left: 10em;
  margin-right: 10em;
  background-color: rgb(6, 6, 78);
  color:white;
}